body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo img {
    height: 80px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 25px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    transition: color 0.3s; /* Agregamos transición suave */
  }
  
  .nav-links a:hover {
    color: #0F5DB5;
    font-family: 'Montserrat', sans-serif; /* Cambio de color a rojo en hover */
  }

