body {
    margin: 0;
    font-family: 'poppins',sans-serif;
    color: #fff;
    background: #161616;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-size: 0.9em;
    line-height: 27px;
}
h1,h2 {
    font-weight: 300;
}

h1 {
    font-size: 3em;
    margin: 0.5em 0;
}

.services h2, .culture h2 {
    font-size: 2em;
    padding-left: 1.2em;
    border-left: 0.1em  #459DAA solid;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 2.5em;
}

/* seteo de todos los flex */
nav, .infos, .info, .services-header, .services li, .stats {
    display: flex;
    justify-content: space-between;
    align-items: center
    
}