/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #161616;
}
::-webkit-scrollbar-thumb {
    background: #434649;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #FC690B;
}

/* effect smoth */

html {
    scroll-behavior: smooth;
}

/* General Styles */
body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    color: #fff;
    background: #161616;
    line-height: 1.6; /* Agregado: Ajusta el espaciado entre líneas */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-size: 0.9em;
    line-height: 27px;
}
h1,h2 {
    font-weight: 300;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    margin: 0;
    color: #FC690B;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 2.5em;
}


/* styles for video header */
header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
     background-color: rgba(0, 0, 0, 1);

}
  
  #video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
        /* Ajustar la opacidad del video */
        opacity: 0.9; 
  }
  
.header-body {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 0;
    box-sizing: border-box;
  }
  
.header-body h1 {
    margin: 0; /* Resetear margen */
  }

  .header-body {
    padding: 2.5em;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-body p {
    font-size: 1.2em;
    font-family: 'Azeret Mono', monospace;
}
  
/* navbar  */
nav {
    padding: 1.5em 2.5em;
    position: relative;
}

.menu-btn {
    display: none;
}

.brand {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #FC690B;
    padding: 0.3em;


}

nav li {
    display: inline-block;
    margin: 0 0.8em;
    text-align: center;
    font-family: 'Azeret Mono', monospace;
}
.brand:hover {
    color: #ffffff;
}

nav a {
    color: #fff;
    font-size: 1.2em;
}

nav a:hover {
    color: #FC690B;
}

/* Styles for body */

img {
    width: auto;
    height: auto;
  }
  
  @keyframes show {
      from {
          opacity: 0;
          scale: 25%;
      }
  
      to {
          opacity: 1;
          scale: 100%;
      }
  }
  
  img {
      view-timeline-name: --image;
      view-timeline-axis: block;
  
      animation-timeline: --image;
      animation-name: show;
  
      animation-range: entry 25% cover 30%;
      animation-fill-mode: both;
  }

/* Styles for the section Culture */

 .culture h2 {
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    color: #FC690B;
    text-align: center;    

}

.culture h3{
    font-size: 1.5em;
    text-align: center;

}

.culture p {
    font-size: 1em;
    text-align: center;
    padding: 0 10%;
}

.car-brands h3 {
    font-size: 1.5em;
    font-family: 'Orbitron', sans-serif;
    color: #FC690B;
}
.heading h2 {
    font-size: 2em;
}



/* flex for culture */
nav, .info{
    display: flex;
    justify-content: space-between;
    align-items: center
    
}

.infos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em; /* Ajusta el espaciado entre los logos */
    text-align: center;
    max-width: 33%;
}

.info img {
    max-width: 100%;
    height: auto;
}

/* Media query for culture */
@media screen and (max-width: 768px) {
    .infos {
        flex-direction: column; /* Cambia la dirección a columna para dispositivos pequeños */
        align-items: center; /* Centra los logos horizontalmente */
    }

    .info {
        max-width: 100%; /* Ocupan todo el ancho en dispositivos pequeños */
    }
}

@media (max-width: 900px) {
    .header-body h1{
        font-size: 2em;
    }

}

/* styles for services */
