body {
    margin: 0;
    font-family: 'poppins',sans-serif;
    color: #fff;
    background: #161616;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-size: 0.9em;
    line-height: 27px;
}